#bottom-menu .nav-link {
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
}

#bottom-menu .nav-link.active {
    background-color: red;
    border-radius: 100px;
}